@import 'tailwindcss';
@import '@nuxt/ui';

@source "../../../content/**/*";

@theme {
  --font-sans: 'Public Sans', sans-serif;
  --color-primary: #6e4c6f;
  --color-background: #fdfbf9;
  --color-foreground: #2d2d2d;
  --color-secondary: #cfe1d4;
  --color-blush-pink: #f7e6e1;
  --color-dark-background: #1a1420;
}
